@import '../styles/settings.scss';

@keyframes box {
   from {position: absolute; left: -200px; opacity: 0}
    to {position: relative; padding-top: 40px; opacity: 1}
}

.footer {
    height: 200px;
    background-color: #666;
    align-items: center;
    justify-content: center;
    color: white;
    padding-left: 90px;
    padding-right: 90px;
    @media (max-width: 991.98px) {
        height: auto;
        padding: auto;
        display: block;
    }
    img {
        scale: 2;
        margin:auto;
        filter: invert(1);
        padding: 30px;
    }
    .boxMap {
        background-color: #648c66;
        height: 200px;
        padding-top: 40px;
        animation-name: box;
        animation-duration: 4s;
        @media (max-width: 575.98px) {
            height: auto;
        }
    }
    .boxPhone {
        background-color: #346936;
        height: 200px;
        padding-top: 40px;
        animation-name: box;
        animation-duration: 4s;
        animation-delay: 1s;
        @media (max-width: 575.98px){
            height: auto;
            padding:auto;
        }
    }
    .boxEnvelope {
        background-color: #4fad52;
        height: 200px;
        padding-top: 40px;
        animation-name: box;
        animation-duration: 4s;
        animation-delay: 2s;
        @media (max-width: 575.98px){
            height: auto;
            padding:auto;
        }
    }
}
.copy {
    background-color: black;
    color: white;
    display: flex;
    padding: 0 30px;
    align-content: center;
    justify-content: space-between;
    p {
        padding: 15px;
    }
}