
.header {
    a img {
        margin: 0px;
        width: auto;
        height: 100%;
        background-color: none;
        border-radius: 25px;
    }
    ul {
        margin: 16px 0px;
        li {
            padding: 0px 24px;
        }
    }
    img {
        width: 32px;
        height: 32px;
        margin: 16px;

    }
    .icon {
        font-size: 40px;
        margin: 16px;
        color: rgba(10, 119, 243, 0.619);
    }
 
}